<!-- Header Start -->
<header class="bg-login">

    <!-- Header Top Start -->
    <div class="header-top wow fadeInDown" data-wow-duration="2s">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <!-- Navigation Start -->
                <nav class="navbar navbar-inverse">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-animations" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="index.html" class="navbar-brand"><img src="../assets/images/logo.png" alt="" /></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="navbar-collapse collapse custom-nav" id="bs-example-navbar-collapse-animations" data-hover="dropdown" aria-expanded="false" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.html">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Offers</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <!-- <li class="dropdown">
                                <a href="courses.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdownhover-bottom" role="menu">
                                    <li><a href="#">Submenu</a></li>
                                    <li><a href="#">Submenu</a></li>
                                    <li><a href="#">Submenu</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <!-- Navigation End -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="call2action">
                    <li><i class="fa fa-phone"></i> Call Us : <a href="tel:1235589965">123-5589965</a></li>
                    <li><a href="login.html" class="btn btn-red"><i class="fa fa-unlock-alt"></i> Login</a> <a href="registration.html" class="btn btn-blue"><i class="fa fa-pencil-square-o"></i> Register</a></li>
                    <li><a href="#"><img src="../assets/images/flag-china.jpg" alt="" /></a> <a href="#"><img src="../assets/images/flag-england.jpg" alt="" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Header Top End -->

    <!-- Quick Form Start -->
    <div class="quick-form wow zoomIn" data-wow-duration="2s">
        <div class="icon"><i class="fa fa-lock"></i></div>
        
        <form action="#" method="post" data-toggle="validator">
            <h1>User Login</h1>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" name="username" id="username" placeholder="User Name" data-error="Enter User Name" required />
                </div> 
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" data-error="Enter Your Password" required />
                </div>
                <div class="help-block with-errors"></div>
            </div>
            <input type="submit" value="Login" class="btn btn-block">
            <a href="#" class="btn btn-block">Register</a>
        </form>
        <p>Forgot Password? <a href="#">Click Here</a></p>
    </div>
    <!-- Quick Form End -->

</header>
<!-- Header End -->

<!-- Partners Start -->
<section class="partners">
    <ul>
        <li><img src="../assets/images/logo-1.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" /></li>
        <li><img src="../assets/images/logo-2.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" /></li>
        <li><img src="../assets/images/logo-3.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" /></li>
        <li><img src="../assets/images/logo-4.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" /></li>
        <li><img src="../assets/images/logo-5.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" /></li>
        <li><img src="../assets/images/logo-6.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" /></li>
        <li><img src="../assets/images/logo-7.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" /></li>
    </ul>
</section>
<!-- Partners End -->

<!-- Footer Start -->
<footer>

    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h4 class="wow fadeInDown" data-wow-duration="2s">Get in Touch</h4>
                <p class="wow fadeInUp" data-wow-duration="2s"><i class="glyphicon glyphicon-map-marker"></i>108 Tran Hung Dao, HaNoi.</p>
                <p class="wow fadeInUp" data-wow-duration="2s"><i class="glyphicon glyphicon-envelope"></i><a href="mailto:support@domain.com">support@domain.com</a></p>
                <p class="wow fadeInUp" data-wow-duration="2s"><i class="glyphicon glyphicon-phone-alt"></i><a href="tel:+84439421030">+84-4-39421030</a></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h4 class="wow fadeInDown" data-wow-duration="2s">Company</h4>
                <ul>
                    <li class="wow fadeInUp" data-wow-duration="2s"><a href="#">About Us</a></li>
                    <li class="wow fadeInUp" data-wow-duration="2s"><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h4 class="wow fadeInDown" data-wow-duration="2s">Useful Links</h4>
                <ul>
                    <li class="wow fadeInUp" data-wow-duration="2s"><a href="#">Products</a></li>
                    <li class="wow fadeInUp" data-wow-duration="2s"><a href="#">Interest Rates</a></li>
                    <li class="wow fadeInUp" data-wow-duration="2s"><a href="#">Terms &amp; Conditions</a></li>
                    <li class="wow fadeInUp" data-wow-duration="2s"><a href="#">FAQ’s</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h4 class="wow fadeInDown" data-wow-duration="2s">Latest Tweets</h4>
                <p class="icon-twitter wow fadeInUp" data-wow-duration="2s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut urna dolor. In augue ex.</p>
                <a href="#" class="btn wow fadeInUp" data-wow-duration="2s">@smart-investor</a>
            </div>
        </div>

        <figure class="wow zoomIn" data-wow-duration="2s"><a href="#"><img src="../assets/images/logo-w.png" alt="" /></a></figure>

        <nav class="clearfix">
            <ul>
                <li class="wow fadeInDown" data-wow-duration="2s">&copy; Company 2017</li>
                <li class="wow fadeInDown" data-wow-duration="2s">All Right Reserved</li>
            </ul>
            <ul>
                <li class="wow fadeInDown" data-wow-duration="2s"><a href="#">Home</a></li>
                <li class="wow fadeInDown" data-wow-duration="2s"><a href="#">About Us</a></li>
                <li class="wow fadeInDown" data-wow-duration="2s"><a href="#">Offers</a></li>
                <li class="wow fadeInDown" data-wow-duration="2s"><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <!-- Container End -->

</footer>
<!-- Footer End -->